<!doctype html>
<html>
<head>
    <title>Upload new File</title>
</head>
<body>
    <h1>Upload new File</h1>
    <form method="post" enctype="multipart/form-data" action="/ocr">
        <input type="file" name="image">
        <label for="image_type">Select image type:</label>
        <select id="image_type" name="image_type">
            <option value="handwritten">Handwritten</option>
            <option value="traffic_signal">Traffic Signal</option>
            <option value="small">Small</option>
            <option value="normal">Normal</option>
            <!-- Add more options as needed -->
        </select>
        <br>
        <input type="submit" value="Upload">
    </form>

    <!-- {% if filename %}
    <h2>Uploaded Image:</h2>
    <img src="{{ url_for('static', filename=filename) }}" alt="Uploaded Image">
    {% endif %} -->

    <!-- {% if annotated_filename %} -->
    <h2>Annotated Image:</h2>
    <img src="{{annotated_filename}}" alt="Annotated Image">

    {% if confidence %}
    <h2>OCR Accuracy:</h2>
    <p>{{ confidence }}</p>
    {% endif %}
    <!-- {% endif %} -->
    {% if ocr_text %}
    <h2>OCR Text:</h2>
    <p>{{ ocr_text }}</p>
    {% endif %}

</body>
</html>
